.subparagraph {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 19px;
  font-style: normal;
  text-transform: none;
  color: #080808;
  line-height: 1.6em;
}

ul li {
  list-style-type: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}