*
{
    margin: 0;
    padding: 0;
}
body
{
        font-family: sans-serif;
    
}
    /* Footer styles*/
  .footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin-top: 50px;
  }
  .promo-title
  {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
  }
  #photo1 {
    width: 1rem; 
    height: 1rem;
  }



  footer{
    position: absolute;
    bottom:0;
}