
body {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 50px;
  /* background: linear-gradient(145deg, #ddddd4, #fffffb); */
  background: linear-gradient(145deg, #ddddd4, #fffffb);
  box-shadow: 20px 20px 60px #d0d0c8, -20px -20px 60px #ffffff;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

footer {
  padding-top: 8rem;
  background-color: #abbaba;
  
}

