.div1{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    }
body{
    font-family: sans-serif;
}
#cardcontainer{
    display: flex;
    flex-wrap: wrap;

}
#cardimg{
margin: 1rem;
background-color:darkkhaki;

}