*{
    margin:0;
    padding:0;
}

#mainContainer {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
    margin-bottom:20rem;
}

#imageContainer {
    display:flex;
    justify-content: space space-between;
    align-items: center;
    margin:auto;
    padding:2rem;
    border-radius: 50px;
    
}

#formSectionContainer{
    box-shadow: 10px 10px 10px black;
}

#submitButton{
    width:100%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding:10px;
    background-color: rgb(69, 158, 183);
    color:white;
}

#formFooter{
    background-color: rgb(153, 151, 151);
    padding:1rem;
    border-radius: 3px;
}

#containerFooter{
    display:flex;
    justify-content:space-around;
}