*{
    margin:0;
    padding:0;
}

header {
    background-color:lightgrey;
    padding: 1rem;
}

main{
    margin: 1rem;
}



div{
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

h1{
    padding-bottom: 1rem;
    display:flex;
    justify-content: center;
}

